asgiref==3.12.1
Django==6.1.1
sqlparse==0.6.0
Django>=5.0
djangorestframework
celery
redis
python-dotenv
drf-spectacular
gunicorn
psycopg2-binary
locust
django
langchain
langchain-openai
langchain-community
langchain-tavily
sqlalchemy
langchain_ollama